.container,
.btnGroup {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  max-width: 300px;
  flex-direction: column;
  border: 1px solid white;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.2);
}

@media (min-width: 900px) {
  .container {
    font-size: 24px;
    max-width: 450px;
  }
}